<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.blue.repository.mapper.PostMapper">
  <select id="AllPosts" resultType="com.rainbow.blue.domain.Post">
    SELECT * FROM post
  </select>

  <select id="getPostById" parameterType="Long" resultType="com.rainbow.blue.domain.Post">
    SELECT * FROM post WHERE id=#{id}
  </select>

  <insert id="save" parameterType="com.rainbow.blue.domain.Post">
    INSERT INTO post(content, writer) VALUES (#{content}, #{writer})
  </insert>

  <update id="update" parameterType="com.rainbow.blue.domain.Post">
    UPDATE post SET content=#{content}, writer=#{writer} WHERE id=#{id}
  </update>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM post WHERE id=#{id}
  </delete>
</mapper>