<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.blue.repository.mapper.PostMapper">
  <select id="getAllPosts" resultType="com.rainbow.blue.domain.Post">
    SELECT post.id, post.title, post.content, post.writer, post.created_at as createdAt FROM post
  </select>

  <select id="getPostPages" parameterType="int" resultType="com.rainbow.blue.domain.Post">
    SELECT post.id, post.title, post.content, post.writer, post.created_at as createdAt FROM post LIMIT 10 OFFSET  10 * #{pageNum}
  </select>

  <select id="getPostById" parameterType="Long" resultType="com.rainbow.blue.domain.Post">
    SELECT post.id, post.title, post.content, post.writer, post.created_at as createdAt FROM post WHERE id=#{id}
  </select>

  <insert id="save" parameterType="com.rainbow.blue.domain.Post">
    INSERT INTO post(title, content, writer, created_at) VALUES (#{title}, #{content}, #{writer}, #{createdAt})
  </insert>

  <update id="update" parameterType="com.rainbow.blue.domain.Post">
    UPDATE post SET title=#{title}, content=#{content}, writer=#{writer} WHERE id=#{id}
  </update>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM post WHERE id=#{id}
  </delete>
</mapper>