<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rainbow.blue.mapper.PostMapper">
  <select id="AllPosts" resultType="com.rainbow.blue.vo.PostVo">
    SELECT * FROM post
  </select>

  <select id="getPostById" parameterType="Long" resultType="com.rainbow.blue.vo.PostVo">
    SELECT * FROM post WHERE id=#{id}
  </select>

  <delete id="deleteById" parameterType="Long">
    DELETE FROM post WHERE id=#{id}
  </delete>
</mapper>